<p>service-product-image-event-detail works!</p>
<button (click)="goBack()" style="padding: 6px 12px; cursor: pointer; margin-bottom: 10px;">Go Back</button>
<table border="1" *ngIf="selectedProduct">
  <tr>
    <td>ID:</td>
    <td>{{ selectedProduct.ProductId }}</td>
  </tr>
  <tr>
    <td>Name:</td>
    <td>{{ selectedProduct.ProductName }}</td>
  </tr>
  <tr>
    <td>Price:</td>
    <td>{{ selectedProduct.Price }}</td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <img [src]="selectedProduct.Image" width="200" />
    </td>
  </tr>
</table>
